---
import StyledLink from "~/components/styled_link/styled_link.astro";
import { flex } from "~pandacss/patterns";

type BreadcrumbItem = { label: string; href: string };
type BreadcrumbItemCurrent = { label: string };

type Props = {
  list: [...BreadcrumbItem[], BreadcrumbItemCurrent];
};

const { list } = Astro.props;

const styles = {
  list: flex({
    gap: 8,
    textStyle: "label-large",
  }),
  item: flex({
    "& + &::before": {
      content: '"/" / ""',
      marginInlineEnd: 8,
    },
  }),
};
---

<nav aria-label="Breadcrumb">
  <ol class:list={styles.list}>
    {
      list.map((item) => {
        const isCurrent = !("href" in item);

        return (
          <li class:list={styles.item}>
            {isCurrent ? (
              <a href="" aria-current="page">
                {item.label}
              </a>
            ) : (
              <StyledLink href={item.href}>{item.label}</StyledLink>
            )}
          </li>
        );
      })
    }
  </ol>
</nav>
