---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "~/components/article_card.astro";
import { flex } from "~pandacss/patterns";

const styles = {
  root: flex({
    direction: "column",
    gap: { base: 8, md: 16 },
  }),
};

type Props = {
  items: CollectionEntry<"post">[];
};

const { items } = Astro.props;
---

<ul class:list={styles.root}>
  {
    items.map((item) => (
      <li>
        <ArticleCard
          date={item.data.publishedAt}
          link={`/posts/${item.slug}`}
          title={item.data.title}
          subhead={item.data.subhead}
        />
      </li>
    ))
  }
</ul>
