---
import type { CollectionEntry } from "astro:content";
import Image from "~/components/image/image.astro";
import StyledLink from "~/components/styled_link/styled_link.astro";
import { css } from "~pandacss/css";
import { flex } from "~pandacss/patterns";

type Props = {
  image: CollectionEntry<"post">["data"]["image"];
};

const { image } = Astro.props;

const styles = {
  root: flex({ direction: "column", rowGap: 8 }),
  img: css({
    width: "100%",
    height: { base: 216, md: 288 },
    rounded: "extra-large",
    objectFit: "cover",
  }),
  attribution: css({
    textStyle: "label-medium",
    fontFamily: "comfortaa",
    fontStyle: "italic",
  }),
};
---

<figure class:list={styles.root}>
  <Image
    src={image.src}
    alt=""
    width={image.width}
    height={image.height}
    class:list={styles.img}
  />

  {
    "attribution" in image && (
      <figcaption>
        <small class:list={styles.attribution}>
          <span>Photo by </span>
          <StyledLink href={image.attribution.authorUrl}>
            {image.attribution.authorName}
          </StyledLink>
          <span> on </span>
          <StyledLink href={image.attribution.siteUrl}>
            {image.attribution.siteName}
          </StyledLink>
        </small>
      </figcaption>
    )
  }
</figure>
